---
import Logo from "@/Logo.astro";
import Menu from "@/menu.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="we create websites for you" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Brawlbucks</title>
  </head>
  <body class="2xl:p-28 lg:p-14 p-10 min-h-screen flex flex-col relative">
    <div id="menu" class="hidden z-50"><Menu /></div>
    <div
      id="overlay"
      class="hidden fixed inset-0 bg-black bg-opacity-80 z-20 cursor-pointer"
    >
    </div>
    <header
      class="absolute flex 2xl:inset-x-28 lg:inset-x-14 inset-x-10 items-center"
    >
      <Logo /><span class="logo">Brawlbucks</span><div
        class="font-extrabold lg:text-lg text-sm ml-auto cursor-pointer"
        id="trigger"
      >
        What we do
      </div>
    </header>
    <div class="h-24 lg:hidden"></div>

    <div class="fixed inset-0 grid grid-cols-2 -z-10">
      <div class="bg-[#FF0D0D] lg:col-span-1 col-span-2"></div>
      <div class="bg-right lg:block hidden"></div>
    </div>
    <slot />
    <a
      class="fixed bottom-10 w-24 h-24 rounded-full mx-auto bg-white z-10 flex items-center justify-center text-sm font-medium self-center protfolio transition-all"
      href="https://linktr.ee/brawlbucks"
      target="_blank"
    >
      Protfolio
    </a>
    <footer class="absolute 2xl:right-28 lg:right-14 right-10 bottom-6 text-sm font-semibold">
      Copyright © 2023 all rights reserved
    </footer>
  </body>
</html>

<script>
  const trigger = document.getElementById("trigger");
  const menu = document.getElementById("menu");
  const overlay = document.getElementById("overlay");
  const close = document.getElementById("close");

  let isOpen = !menu?.classList.contains("hidden");

  trigger?.addEventListener("click", () => {
    if (!isOpen)
      menu?.classList.remove("hidden"),
        overlay?.classList.remove("hidden"),
        document.body.classList.add("overflow-hidden"),
        (isOpen = true);
    else
      menu?.classList.add("hidden"),
        overlay?.classList.add("hidden"),
        document.body.classList.remove("overflow-hidden"),
        (isOpen = false);
  });

  [close, overlay].forEach((e) =>
    e?.addEventListener("click", () => {
      menu?.classList.add("hidden"),
        overlay?.classList.add("hidden"),
        document.body.classList.remove("overflow-hidden"),
        (isOpen = false);
    }),
  );
</script>

<style is:global>
  @import url(//fonts.googleapis.com/earlyaccess/nicomoji.css);
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

  html {
    font-family: "Montserrat", sans-serif;
  }

  .logo {
    font-family: "Nico Moji", cursive;
    color: #f2f2f2;
    font-size: 14px;
    margin-left: 14px;
  }

  .protfolio {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .protfolio:hover {
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.3));
  }
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
</style>
